body {
    margin: auto 10%;
    font-family: Arial, sans-serif;
    font-size: 14px
}

h1 {
    font-family: 'Times New Roman', serif;
    font-size: 28px;
    color: limegreen
}

h2 {
    font-family: 'Times New Roman', serif;
    font-size: 22px;
    color: limegreen
}

p, blockquote {
   text-align-last: justify
}

blockquote {
    margin: 10px 0 10px 60px;
}

img {
    display: block;
    border: 8px solid limegreen;
    margin: 0 auto
}

.info-box {
    border: 3px solid limegreen;
    padding: 10px;
    background-image: url(../imagens/fundo.png)
}

.info-box p {
    margin: 0
}

.text-italic {
    font-style: italic  
}